<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="connection" connectionString="Data Source = DESKTOP-QGJ7006\SQLEXPRESS; Initial Catalog = CoffeeTrade; Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="selectFromParent" value="select * from Shop"/>
    <add key="selectFromChild" value="select * from SpecialtyRoast"/>
    <add key="parentTableName" value="Shop"/>
    <add key="childTableName" value="SpecialtyRoast"/>
    <add key="foreignKeyConstraint" value="FK_SpecialtyRoast"/>
    <add key="parentPK" value="id"/>
    <add key="childPK" value="name"/>
    <add key="childColumnNames" value="name,roastingGrade,price,shopId"/>
    <add key="childFK" value="shopId"/>
    <add key="name" value="text"/>
    <add key="roastingGrade" value="int"/>
    <add key="price" value="int"/>
    <add key="shopId" value="int"/>
    <add key="insert" value="INSERT INTO SpecialtyRoast (name, roastingGrade, price, shopId) values (@name, @roastingGrade, @price, @shopId)"/>
    <add key="update" value="UPDATE SpecialtyRoast SET roastingGrade=@roastingGrade, price=@price, shopId=@shopId WHERE name=@name"/>
    <add key="delete" value="DELETE FROM SpecialtyRoast WHERE name=@name"/>-->

    <add key="selectFromParent" value="select * from FairTrade"/>
    <add key="selectFromChild" value="select * from Farmer"/>
    <add key="parentTableName" value="FairTrade"/>
    <add key="childTableName" value="Farmer"/>
    <add key="foreignKeyConstraint" value="FK_Farmer_ftSession"/>
    <add key="parentPK" value="session"/>
    <add key="childPK" value="socialSecurity"/>
    <add key="childColumnNames" value="socialSecurity,name,age,ftSession"/>
    <add key="childFK" value="ftSession"/>
    <add key="socialSecurity" value="int"/>
    <add key="name" value="text"/>
    <add key="age" value="int"/>
    <add key="ftSession" value="int"/>
    <add key="insert" value="INSERT INTO Farmer (socialSecurity, name, age, ftSession) values (@socialSecurity, @name, @age, @ftSession)"/>
    <add key="update" value="UPDATE Farmer SET name=@name, age=@age, ftSession=@ftSession WHERE socialSecurity=@socialSecurity"/>
    <add key="delete" value="DELETE FROM Farmer WHERE socialSecurity=@socialSecurity"/>
  </appSettings>
</configuration>